<h2>Adding a Point</h2>

<h4>1) Click the "Add Point" button</h4>
<%= image_tag("add_point_photos/step_one.jpg", :alt =>'Photo highligting the "Add Point" button') %>

<h4>2) Fill in the fields and click "Create Point"</h4>
<%= image_tag("add_point_photos/step_two.jpg", :alt => 'Photo highligting the "Create Point" button') %>

<h4>3) Your point has now been submitted for review. You can now return to the points page</h4>

<%= link_to 'Back to Home', 'home', role: 'button' %>