<h2>Create a Reimbursement Request</h2>

<h4>Click "Budget Requests" on the left side of the screen</h4>

<h4>Click "New Budget Requests"</h4>

<h4>Fill in the fields and click "Create Budget Request"</h4>

<h4>The budget request was submitted. You can now return to Budget Request screen</h4>

<%= link_to 'Back to Home', 'home', role: 'button' %>