<h2>Create a Point Category</h2>

<h4>1) Click on "Point Category" on the left hand side button</h4>

<h4>2) Click "Add Category"</h4>
<%= image_tag("create_point_cafe_photos/step_two.jpg", alt: 'Point Category Home Page') %>

<h4>3) Fill in the fields and click "Create Point Category"</h4>

<h4>4) The Point Category has been created. You can now return back to the Point Category screen</h4>

<%= link_to 'Back to Home', 'home', role: "button" %>