<h1>Quick Start Guide</h1>

<%= link_to 'Adding a New Point', 'add_point', role: 'button', style: 'width:100%' %>
</p>
<%= link_to 'Create a Point Category', 'create_point_category', role: 'button', style: 'width:100%' %>
</p>
<%= link_to 'Understand your Points', 'view_points', role: 'button', style: 'width:100%' %>
</p>
<%= link_to 'Create a Reimbursement Request', 'create_reimbursement', role: 'button', style: 'width:100%' %>