<h1>Quick Start Guide</h1>

<details>
  <summary role="button">Adding a New Point</summary>
  <ul>
    <li>Click the "Add Point"</li>
    <li>Fill in the fields and click "Create Point"</li>
    <li>Your point has now been submitted for review. You can now return to the points page</li>
  </ul>
</details>

<details>
  <summary role="button">Creating a Point Category</summary>
  <ul>
    <li>Click on "Point Category" on the left hand side button</li>
    <li>Click "Add Category"</li>
    <li>Fill in the fields and click "Create Point Category"</li>
    <li>The Point Category has been created. You can now return back to the Point Category screen</li>
  </ul>
</details>

<details>
  <summary role="button">Understand Your Points</summary>
  <ul>
    <li>This screen shows your total points, your points sorted by category, and your individual points</li>
    <li>This page will only show points that are approved. Points that are not approved will not show on the Points page</li>
  </ul>
</details>

<details>
  <summary role="button">Create a Reimbursement Request</summary>
  <ul>
    <li>Click "Budget Requests" on the left side of the screen</li>
    <li>Click "New Budget Requests"</li>
    <li>Fill in the fields and click "Create Budget Request"</li>
    <li>The budget request was submitted. You can now return to Budget Request screen</li>
  </ul>
</details>

<details>
  <summary role="button">How to Approve Points (Leader/Executive Feature)</summary>
  <ul>
    <li>Under "Admin", click "Point Requests"</li>
    <li>A list of points waiting for approval will appear. Click "Approve" on the point you want approved</li>
    <li>The point will disappear from the list. This means the point was approved</li>
  </ul>
</details>

<details>
  <summary role="button">Approve a Reimbursement Request (Leader/Executive Feature)</summary>
  <ul>
    <li>Under "Admin", click "Reimbursement Requests"</li>
    <li>A list of requests waiting for approval will appear. Click "Approve" on the request you want approved</li>
    <li>The request will disappear from the list. This means the request was approved</li>
  </ul>
</details>

