<h2>Understand Your Points</h2>

<%= image_tag("view_points_photos/step_one.jpg", :alt =>'Photo of Points Home page') %>

<h4>This screen shows your total points, your points sorted by category, and your individual points</h4>

<h4>This page will only show points that are approved. Points that are not approved will not show on the Points page</h4>

<%= link_to 'Back to Home', 'home', role: 'button' %>