<div id="<%= dom_id point %>">
  <p>
    <strong>Member:</strong>
    <%= point.member_id %>
  </p>

  <p>
    <strong>Point category:</strong>
    <%= point.point_category_id %>
  </p>

  <p>
    <strong>Is approved:</strong>
    <%= point.is_approved %>
  </p>

</div>
