<h1>Editing Member</h1>

<article>
  <%= render "form", member: @member %>
  <footer><%= link_to "Back to Members", admins_path %></footer>
</article>
<%= button_to "Destroy", @member, method: :delete, class: "secondary" %>
