<h1>Editing point category</h1>

<%= render "form", point_category: @point_category %>

<br>

<div>
  <%= link_to "Show this point category", @point_category %> |
  <%= link_to "Back to point categories", point_categories_path %>
</div>
