<h1>"<%= @point_category.name %>" Point Category</h1>

<article>
  <%= render "form", point_category: @point_category %>
  <footer>
    <%= link_to "Back to point categories", point_categories_path %>
  </footer>
</article>

<%= button_to "Delete", @point_category, method: :delete, class: "secondary" %>
