<% if notice %>
  <p style="color: green"><%= notice %></p>
<% end %>

<h1>Point Categories</h1>

<%= link_to "Add Category", new_point_category_path, role: "button" %>

<article id="point_categories">
  <table>
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Required Total</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <% @point_categories.each do |point_category| %>
        <%= render point_category %>
      <% end %>  
    </tbody>
  </table>
</article>