<%= render @budget_request %>

<div>
  <%= link_to "Edit this Reimbursement Request", edit_budget_request_path(@budget_request) %> |
  <%= link_to "Back to Reimbursement Requests", budget_requests_path %>

  <%= button_to "Delete this Reimbursement Request", @budget_request, method: :delete %>
</div>
